<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>출퇴근 기록</title>
</head>
<body>
<h1 th:text="${state} + '하기'"></h1>
<input type="hidden" th:value="${state}" name="atd-state">
<hr>
<div id="map" style="width:300px;height:300px;"></div>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8c1b3f4657e0b73f9d3df25ca60c9730&libraries=services"></script>
<script>
    let mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.56646, 126.98121), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    let map = new kakao.maps.Map(mapContainer, mapOption);
</script>
<br>

<p th:text="${state} + '장소'"></p>
<hr>
<div id="loc-list"></div>

<button type='button' th:text="${state} + '하기'" onclick="saveAtdInfo()"></button>
<p>&copy; faketee2022</p>
</body>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script type="text/javascript" src="/js/attend/attend.js"></script>
<script>
</script>
</html>