<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>출퇴근기록 생성 요청</title>
</head>
<body>
<h1>출퇴근기록 생성 요청</h1>
<h1>승인권자 설정하기</h1>

<form name="create-setApvl" id="create-setApvl">
    <!--    승인권자 목록 가져와야 함  -->
    승인권자 : <input type="text" id="date" name="date" readonly><br>

    사유 : <input type="text" id="msg" name="msg"><br>

    <!--  직원이 직전 페이지에 보냈던 요청사항 내용들을 출력  -->
    요청사항

    날짜 : <input type="time" id="tmp-startTime"><br>

    출근/퇴근시간 : <input type="time" id="tmp-endTime"><br>

    근무일정 :

    <button type="button" onclick="">보내기</button>
</form>
</body>
</html>