<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직무 등록</title>
</head>

<body>
<div id="container" role="main">
    <h2>직무 등록</h2>
    <span>직무 이름:</span>
    <input type="text" id="pos-name" placeholder="직무 이름을 입력하세요!">
    <button id="pos-register" onclick="registerPos()">직무 등록</button>
    <h2>직무 목록</h2>
    <div id="pos-list"></div>
</div>
</body>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script src="/js/utils/exception.js"></script>
<script src="/js/position/position.js"></script>

</html>