<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회사합류</title>
</head>
<body>
<h1>회사합류</h1>
<form name="registerForm">

    회사 코드: <input type="text" id="joincode" placeholder="전송받은 합류코드를 입력하세요" name="name">
    <br>
    <button type="button" onclick="joinEmployee()">회사 합류</button>
    <p>&copy; faketee2022</p>
</form>
</body>
<script type="text/javascript" src="/js/employee/employee.js"></script>
<script src="/js/utils/url.js"></script>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
</html>