<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>휴가그룹</title>
</head>
<body>
<h1>휴가그룹 상세</h1>
<button type="button" th:groupId = "${responseDto.id}" th:onclick="deleteVacationGroup(this.getAttribute('groupId')">삭제하기</button>
<hr>
<h3>휴가그룹 이름: </h3>
<div th:text="${responseDto.name}"></div><br>
<h3>승인 단계: </h3>
<div th:text="${responseDto.approvalLevel} + 차승인"></div><br>
<h3>휴가 유형:</h3>
<div><button type="button" id="btn-loadVacTypes" th:tmpId="${responseDto.id}" th:onclick="loadVacationTypes(this.getAttribute('tmpId'))">휴가유형 조회</button></div>
<div id="vacationTypes"></div>
<p>&copy; faketee2022</p>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script type="text/javascript" src="/js/vacation/vacation.js"></script>
<script type="text/javascript" src="/js/department/department.js"></script>
</html>