<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>휴가그룹 추가</title>
    <style>
        ul { height: 100px; overflow: auto; width: 200px; border: 1px solid #000; }
        ul { list-style-type: none; margin: 0; padding: 0; overflow-x: hidden; }
        li { margin: 0; padding: 0; }
    </style>
</head>
<body>
<h1>휴가 그룹 추가하기</h1>
<hr>
<div>
    <form name="vacation-group">
        <div>
            휴가그룹 명: <input type="text" id="vacation-group-name"><br><br>
        </div>
        <div>
            최종승인 단계:
            <input type="radio" name="APVL_LVL" value="1LVL"/>1차 승인
            <input type="radio" name="APVL_LVL" value="2LVL"/>2차 승인
            <br><br>
        </div>
        <button type="button" onclick="saveVacationGroup()">추가하기</button>
    </form>
</div>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script type="text/javascript" src="/js/vacation/vacation.js"></script>
</html>