<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>휴가유형 관리</title>
</head>
<body>
<h1>휴가유형 관리</h1>
<button type="button" onclick="newVacationType()">추가하기</button>
<hr/>
<button type="button" onclick="loadVacationGroups()">휴가유형 조회</button>
<div id="vgroup-list"></div>
<p>&copy; faketee2022</p>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script type="text/javascript" src="/js/vacation/vacation.js"></script>
</html>