<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>근무 일정 목록</title>
</head>
<body>
<h1>근무일정 목록</h1>
<label for="selectedDate">날짜를 선택하세요:
    <input type="date"id="selectedDate">
</label>
<button type="button" onclick="loadSchedules()">클릭</button>
<hr/>
<div id="sch-list"></div>
<p>&copy; faketee2022</p>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script src="/js/utils/exception.js"></script>
<script type="text/javascript" src="/js/schedule/schedule.js"></script>
</html>