<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>근무일정 유형 목록</title>
</head>
<body>
<h1>근무일정 유형 목록</h1>
<button type="button" onclick="goAddSchTypePage()">추가하기</button>
<hr/>
<div id="sch-type-list"></div>
<p>&copy; faketee2022</p>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script src="/js/utils/exception.js"></script>
<script type="text/javascript" src="/js/schedule/schedule.js"></script>
<script>
    loadSchList();
</script>
</html>