<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>요청 상세</title>
</head>
<body>
<h1>요청 상세</h1>
<div id="draft-detail-head"></div>
<div id="draft-detail-state"></div>
<table>
    <tbody>
    <tr>
        <th>
            <span>직원</span>
        </th>
        <td>
            <span id="draft-detail-emp"></span>
        </td>
    </tr>
    <tr>
        <th>
            <span>신청일자</span>
        </th>
        <td>
            <span id="draft-detail-req-date"></span>
        </td>
    </tr>
    <tr>
        <th>
            <span>승인 현황</span>
        </th>
        <td>
            <span id="draft-detail-apvl"></span>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div>사유</div>
<div id="draft-detail-req-msg"></div>
<br>
<div>요청사항</div>
<table>
    <tbody>
    <tr>
        <th>
            <span>휴가 유형</span>
        </th>
        <td>
            <span id="draft-detail-type"></span>
        </td>
    </tr>
    <tr>
        <th>
            <span>휴가 날짜</span>
        </th>
        <td>
            <span id="draft-detail-date"></span>
        </td>
    </tr>
    </tbody>
</table>
<div id="draft-detail-left"></div>
</body>
</html>