<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login-form</title></head>
<body>
<form action="/login" name="loginForm" id="loginForm" method="post" onsubmit="return checkLoginForm()">
    <h1><strong>FAKETEE 로그인</strong></h1>
    <h1>로그인</h1>
    <div>
        <input type="text" name="email" id="email" placeholder="EMAIL">
    </div>
    <br>
    <div>
        <input type="password" name="password" id="password" placeholder="PASSWORD">
    </div>
    <br>
    <button type="submit">로그인</button>
</form>

<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google 로그인</a>
</body>
</html>