<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>login-form</title>
</head>

<body>
<form action="/login" method="post" name="loginForm" id="loginForm">
    <h1><strong>FAKETEE 로그인</strong></h1>
    <h1>로그인</h1>
    <div>
        <input type="text" name="email" id="email" placeholder="EMAIL">
    </div>
    <br>
    <div>
        <input type="password" name="password" id="password" placeholder="PASSWORD">
    </div>
    <br>
    <button type="submit">로그인</button>
</form>
</body>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/account/account.js"></script>
</html>