<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>
    <h1><strong>내 계정</strong></h1>
    <a href="/templates/account/set-info.html" role="button">내 계정 비밀번호 변경</a>

    <h1>내 계정 정보</h1>
    <table>
        <tr>
            <th scope="col">항목</td>
            <th scope="col">내용</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>#######사용자의 이메일#######</td>
        </tr>
        <tr>
            <td>이름</td>
            <td>#######사용자의 이름#######</td>
        </tr>
    </table>

    <p>웹 버젼 1.0.00</p>
    <a href="/logout" role="button">로그아웃</a>
</body>
</html>