<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login form</title></head>
<body>
<form action="/login" name="login" method="post">
    <h1><strong>FAKETEE 회원가입</strong></h1>
    <h1>회원가입</h1>
    <div>
        <input type="text" name="email" placeholder="EMAIL">
    </div>
    <br>
    <div>
        <input type="password" name="password" placeholder="PASSWORD">
    </div>
    <br>
    <div>
        <input type="password" name="passwordCheck" placeholder="CHECK PASSWORD">
    </div>
    <br>
    <div>
        <input type="text" name="name" placeholder="NAME">
    </div>
    <br>
    <button type="button" id="btn-register">회원가입</button>
</form>
<script src="/static/js/account/account.js"></script>
</body>
</html>