<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="_csrf" th:content="${_csrf.token}">-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->

    <title>register-form</title>
</head>

<body>
<form method="POST" name="registerForm" id="registerForm">
    <h1><strong>FAKETEE 회원가입</strong></h1>
    <h1>회원가입</h1>
    <div>
        <input type="text" name="email" id="email" placeholder="EMAIL">
    </div>
    <br>
    <button type="button" id="btn-emailCheck" onclick="checkEmail()">EMAIL 중복확인</button>
    <br><br>
<!--    <button type="button" id="btn-emailValid" onclick="confirmEmail()">EMAIL 인증</button>-->
<!--    <br><br>-->
    <div>
        <input type="password" name="password" id="password" placeholder="PASSWORD">
    </div>
    <br>
    <div>
        <input type="password" name="passwordCheck" id="passwordCheck" placeholder="CHECK PASSWORD">
    </div>
    <br>
    <div>
        <input type="text" name="name" id="name" placeholder="NAME">
    </div>
    <br>
    <button type="button" id="btn-register" onclick="register()" disabled>회원가입</button><br>
</form>
<br>
<button type="button" onclick="location.href='/oauth2/authorization/google'">Google로 회원가입</button>
<br>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='/static/js/account/account.js'></script>
</html>