<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>set-info</title>
</head>

<body>
<h1>내 계정 비밀번호 변경</h1>

<form method="POST" name="updateForm" id="updateForm">
    <table>
        <tr>
            <th scope="col">항목</td>
            <th scope="col">내용</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>#######사용자의 이메일#######</td>
        </tr>
        <tr>
            <td>이름</td>
            <td>#######사용자의 이름#######</td>
        </tr>
        <tr>
            <!--     현재 비밀번호       -->
            <td>현재 비밀번호</td>
            <td><input name="password" id="password" placeholder="현재 password" type="password"></td>
        </tr>
        <tr>
            <!--     변경을 원하는 비밀번호       -->
            <td>변경 비밀번호</td>
            <td><input name="newPassword" id="newPassword" placeholder="변경 password" type="password"></td>
        </tr>
        <tr>
            <!--     변경을 원하는 비밀번호 확인       -->
            <td>변경 비밀번호 확인</td>
            <td><input name="newPasswordCheck" id="newPasswordCheck" placeholder="변경 password 확인" type="password"></td>
        </tr>
    </table>
<!--    <button type="button">뒤로가기</button>-->
    <button type="button" onclick="update()">정보수정</button>
</form>

</body>

<script type="text/javascript" src="/js/corporation/account.js"></script>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
</html>