<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>set-auth</title></head>

<body>
<h1>권한선택</h1>
<br>
<a href="/account/직원"><button type="button">직원</button></a>
<br>
<a href="/account/관리자"><button type="button">최고관리자</button></a>
<br>
<a href="/account/mypage"><button>마이페이지</button></a>
<p>&copy; faketee2022</p></form>
</body>

<script type="text/javascript" src="/js/corporation/set-auth.js"></script>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
</html>