<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>출퇴근 장소 목록</title>
</head>
<body>
<h1>출퇴근 장소 목록</h1>

<th:block th:if="${role == '최고관리자' or role == '총괄관리자'} ">
    <button type="button" onclick="goAddLocPage()">추가하기</button>
</th:block>
<hr/>
<div id="loc-list"></div>
<button type="button" onclick="goHome()">홈</button>
</body>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script src="/js/utils/exception.js"></script>
<script type="text/javascript" src="/js/location/location.js"></script>
<script>
    loadLocList();
</script>
</html>