<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>조직 목록</title>
</head>

<body>
<div id="container" role="main">
    <h1>조직 목록</h1>
    <button type="button" onclick="removeDep()">삭제완료</button>
    <div id="dep-list"></div>
</div>
</body>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="/js/utils/url.js"></script>
<script src="/js/utils/exception.js"></script>
<script type="text/javascript" src="/js/department/department.js"></script>
<script>
    removePageInit();
</script>

</html>